<div class="list">
  <p class="text-muted">基础用法</p>
  <app-list-group>
    <app-list-item>Button</app-list-item>
    <app-list-item>Input</app-list-item>
    <app-list-item>Select</app-list-item>
    <app-list-item>Dropdown</app-list-item>
    <app-list-item>List</app-list-item>
  </app-list-group>
  <p class="text-muted">Active items</p>
  <app-list-group>
    <app-list-item>Button</app-list-item>
    <app-list-item>Input</app-list-item>
    <app-list-item active>Select</app-list-item>
    <app-list-item disabled>Dropdown</app-list-item>
    <app-list-item>List</app-list-item>
  </app-list-group>
  
  <p class="text-muted">Flush</p>
  <app-list-group flush>
    <app-list-item>Button</app-list-item>
    <app-list-item>Input</app-list-item>
    <app-list-item active>Select</app-list-item>
    <app-list-item disabled>Dropdown</app-list-item>
    <app-list-item>List</app-list-item>
  </app-list-group>
  <p class="text-muted">Contextual classes</p>
  <app-list-group flush>
    <app-list-item type="primary">primary</app-list-item>
    <app-list-item type="secondary">secondary</app-list-item>
    <app-list-item type="success">success</app-list-item>
    <app-list-item disabled type="danger">danger</app-list-item>
    <app-list-item action type="warning">warning</app-list-item>
    <app-list-item action type="info">info</app-list-item>
    <app-list-item action type="light">light</app-list-item>
    <app-list-item action type="dark">dark</app-list-item>
  </app-list-group>
  <p class="text-muted">With badges</p>
  <app-list-group>
    <app-list-item tip="12">primary</app-list-item>
    <app-list-item tip="1">secondary</app-list-item>
  </app-list-group>
</div>