<div class="dynamic">
  <!-- 按钮 -->
  <div>
    <app-button type="primary">primary</app-button>
    <app-button type="secondary">secondary</app-button>
    <app-button type="success">success</app-button>
    <app-button type="danger">danger</app-button>
    <app-button type="warning">warning</app-button>
    <app-button type="info">info</app-button>
    <app-button type="dark">Dark</app-button>
    <app-button type="link">link</app-button>
  </div>
  <!-- outline按钮 -->
  <div>
    <app-button type="primary" plain>primary</app-button>
    <app-button type="secondary" plain>secondary</app-button>
    <app-button type="success" plain>success</app-button>
    <app-button type="danger" plain>danger</app-button>
    <app-button type="warning" plain>warning</app-button>
    <app-button type="info" plain>info</app-button>
    <app-button type="link" plain>link</app-button>
  </div>
  <!-- 按钮大小 -->
  <div>
    <app-button type="primary" size="lg">primary</app-button>
    <app-button type="primary" size="block">primary</app-button>
    <app-button type="primary" size="sm">primary</app-button>
  </div>
  <div>
    <app-button type="primary" size="lg" disabled>primary</app-button>
  </div>
  <!-- 输入框 -->
  <div>
    <app-input type="text" placeholder="请输入值" [(value)]="username"></app-input>
    <app-input type="text" placeholder="请输入值" [(value)]="username">
      <div name="prepend">tag_</div>
    </app-input>
    <app-input type="text" placeholder="请输入值" [(value)]="username">
      <div name="append">tag_</div>
    </app-input>
    <app-input type="textarea" placeholder="请输入值" [(value)]="username">
      <div name="append">tag_</div>
    </app-input>
  </div>
  <div>
    <app-input type="text" placeholder="请输入值" [(value)]="username" size="sm"></app-input>
    <app-input type="text" placeholder="请输入值" [(value)]="username" size="lg"></app-input>
  </div>
  <!-- 带按钮的输入框 -->
  <app-input type="text" placeholder="请输入值" [(value)]="username">
    <app-button name="btn-prepend" type="primary" plain>primary</app-button>
  </app-input>
  <app-input type="text" placeholder="请输入值" [(value)]="username">
    <app-button name="btn-append" type="primary" plain>primary</app-button>
  </app-input>
  <!-- Dropdown -->
  <div>
    <app-dropdown>
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
      <div slot="dropdown">
        <app-dropdown-item (click)="testClick()">asdf</app-dropdown-item>
        <app-dropdown-item>asdf</app-dropdown-item>
        <app-dropdown-item>asdf</app-dropdown-item>
        <app-dropdown-item>asdf</app-dropdown-item>
      </div>
    </app-dropdown>
    <app-dropdown split-button>
      <button type="button" class="btn btn-outline-secondary">Action</button>
      <div slot="dropdown">
        <app-dropdown-item (click)="testClick()">asdf</app-dropdown-item>
        <app-dropdown-item>asdf</app-dropdown-item>
        <app-dropdown-item>asdf</app-dropdown-item>
        <app-dropdown-item>asdf</app-dropdown-item>
      </div>
    </app-dropdown>
  </div>
  <!-- 下拉框 -->
  <div>
    <app-select>
      <option selected>Choose...</option>
      <option value='1'>banana</option>
      <option value='2'>orange</option>
    </app-select>
  </div>
</div>