<div class="group">
  <section class="section">
    <router-outlet></router-outlet>
  </section>
  <footer class="footer">
    <button mat-button><a routerLink="/main/home" routerLinkActive="active" class="iconfont icon-Home"></a></button>
    <button mat-button><a routerLink="/main/dynamic" routerLinkActive="active" class="iconfont icon-dongtai2"></a></button>
    <button mat-button><a routerLink="/main/search" routerLinkActive="active" class="iconfont icon-sousuo"></a></button>
    <button mat-button><a routerLink="/main/brochure" routerLinkActive="active" class="iconfont icon-book"></a></button>
    <button mat-button><a routerLink="/main/mine" routerLinkActive="active" class="iconfont icon-mine-gray"></a></button>
  </footer>
</div>