<div class="group">
  <section class="section">
    <router-outlet></router-outlet>
  </section>
  <footer class="footer">
    <div><a routerLink="/main" routerLinkActive="active">home</a></div>
    <div><a routerLink="/main/dynamic" routerLinkActive="active">dynamic</a></div>
    <div><a routerLink="/main/search" routerLinkActive="active">search</a></div>
    <div><a routerLink="/main/brochure" routerLinkActive="active">brochure</a></div>
    <div><a routerLink="/main/mine" routerLinkActive="active">mine</a></div>
  </footer>
</div>