<div class="show-button">
  <p class="text-muted">按钮类型</p>
  <div>
    <app-button type="primary">primary</app-button>
    <app-button type="secondary">secondary</app-button>
    <app-button type="success">success</app-button>
    <app-button type="danger">danger</app-button>
    <app-button type="warning">warning</app-button>
    <app-button type="info">info</app-button>
    <app-button type="dark">Dark</app-button>
    <app-button type="link">link</app-button>
  </div>
  <p class="text-muted">朴素按钮</p>
  <div>
    <app-button type="primary" plain>primary</app-button>
    <app-button type="secondary" plain>secondary</app-button>
    <app-button type="success" plain>success</app-button>
    <app-button type="danger" plain>danger</app-button>
    <app-button type="warning" plain>warning</app-button>
    <app-button type="info" plain>info</app-button>
    <app-button type="dark" plain>Dark</app-button>
    <app-button type="link" plain>link</app-button>
  </div>
  <p class="text-muted">禁用状态</p>
  <div>
    <app-button type="primary" size="lg" disabled>primary</app-button>
  </div>
  <p class="text-muted">按钮尺寸</p>
  <app-button type="primary" size="block">块级按钮</app-button>
  <div>
    <app-button type="primary" size="lg">大号按钮</app-button>
    <app-button type="primary">普通按钮</app-button>
    <app-button type="primary" size="sm">小号按钮</app-button>
  </div>
</div>