<div class="mine">
  <header>我</header>
  <section>
    <div class="list-group headericon" (click)="toLogin()">
      <div>wo</div>
      <div></div>
    </div>
    <ul class="list-group">
      <li class="list-items">
        <span class="iconfont icon-xiaoxi1"></span>
        <span>消息中心</span>
      </li>
      <li class="list-items">
        <span class="iconfont icon-zan"></span>
        <span>我赞过的</span>
      </li>
      <li class="list-items">
        <span class="iconfont icon-shoucang"></span>
        <span>收藏集</span>
      </li>
      <li class="list-items">
        <span class="iconfont icon-bao"></span>
        <span>已购小册</span>
      </li>
      <li class="list-items">
        <span class="iconfont icon-yuedu"></span>
        <span>阅读过的文章</span>
      </li>
      <li class="list-items">
        <span class="iconfont icon-biaoqian"></span>
        <span>标签管理</span>
      </li>
    </ul>
  </section>
</div>
