<div class="home">
  <header class="title-group bg-p">
    <div class="title-list" [class.active]="active==i" *ngFor="let item of title;let i=index">
      <button mat-button (click)="serActive(i)">{{item?.title}}</button>
    </div>
  </header>
  <header></header>
  <section>
    <div class="post-group">
      <div class="post-items" *ngFor="let item of homeService.postData?.data.articleFeed.items.edges" (click)="goPost(item.node.id)">
        <div class="between -center">
          <div class="header-icon flex -center py-2">
            <img [src]="item?.node.user.avatarLarge" alt="不见了">
            <span>{{item?.node.user.username}}</span>
          </div>
          <div class="tag">{{item?.node.tags[0].title}}</div>
        </div>
        <div class="content">
          <div class="title">{{item?.node.title}}</div>
          <p>{{item?.node.content}}</p>
        </div>
        <div class="flex -center font-sm py-2">
          <p class="mr-2">
            <span class="iconfont icon-zan mr-1 font-sm"></span>
            <span>{{item?.node.likeCount}}</span>
          </p>
          <p>
            <span class="iconfont icon-xiaoxi mr-1 font-sm"></span>
            <span>{{item?.node.commentsCount || '评论'}}</span>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
