$colors: (
  p: #007fff,
  s: #67C23A,
  w: #E6A23C,
  d: #F56C6C,
  i: #909399
);
$fontcolor: (
  1: #303133,
  2: #606266,
  3: #909399,
  4: #C0C4CC
);
$fontsize: (
  sm: 1rem,
  md: 1.17rem,
  lg: 1.34rem
);
$bordercolor: (
  1: #DCDFE6,
  2: #E4E7ED,
  3: #EBEEF5,
  4: #F2F6FC
);
$space:(
  1: 5px,
  2: 10px,
  3: 15px,
  4: 20px,
  5: 25px,
  6: 30px,
  7: 35px,
  8: 40px,
  9: 45px,
  10: 50px
);