/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './style/index.scss';
* {
  padding: 0;
  margin: 0;
}
.container {
  box-sizing: border-box;
  padding: 0 10px;
}
.w-100 {
  width: 100%;
}
